<html ng-app>
<head>
<meta name="viewport" content="width=320, initial-scale=1"/>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script src="motion.js"></script>
</head>

<body ng-controller="MotionCntl">
  <h2>Events</h2>
  <table>
    <thead>
      <tr>
        <th>Sensor</th>
        <th>Last event</th>
        <th>Battery</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="s in visonicmotionsensors">
        <td>{{s.name}}</td>
        <td>{{s.lastEvent}}</td>
        <td></td>
      </tr>
      <tr ng-repeat="s in fs20motionsensors">
        <td>{{s.name}}</td>
        <td>{{s.lastEvent}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Doorbell</td>
        <td>{{doorbell.lastEvent}}</td>
        <td>{{doorbell.battery}}</td>
      </tr>
    </tbody>
  </table>
  <a href="index.html">Menu</a>
</body>
</html>