<html ng-app>
<head>
<meta name="viewport" content="width=320, initial-scale=1"/>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script src="settings.js"></script>
</head>
<body ng-controller="SettingsCntl">
  <table>
    <tr>
      <td><input type="checkbox" ng-model="settings.muteMotion" ng-change="save()"></td>
      <td>No sounds on motion</td>
    </tr>
    <tr>
      <td><input type="checkbox" ng-model="settings.muteDoors" ng-change="save()"></td>
      <td>No sounds on doors opening/closing</td>
    </tr>
    <tr>
      <td><input type="checkbox" ng-model="settings.muteDoorbell" ng-change="save()"></td>
      <td>No sounds on doorbell</td>
    </tr>
    <tr>
      <td><input type="checkbox" ng-model="settings.noAutoLights" ng-change="save()"></td>
      <td>No auto-lights</td>
    </tr>
    <tr>
      <td><input type="radio" ng-model="settings.alarmMode" value="OFF" ng-change="save()"></td>
      <td>Alarm - off&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td><input type="radio" ng-model="settings.alarmMode" value="NIGHT" ng-change="save()"></td>
      <td>Alarm - night mode&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td><input type="radio" ng-model="settings.alarmMode" value="ON" ng-change="save()"></td>
      <td>Alarm - on&nbsp;&nbsp;</td>
    </tr>
  </table>
  <a href="index.html">Menu</a>
</body>
</html>