<div class="zone" ng-controller="ZoneCntl">
  <span class="name">
    <span class="indent{{indent}}">{{zone.name}}</span>
  </span>
  <span class="status">
    <span ng-show="!!zone.temperature">{{zone.temperature | number:1}}&#x00B0</span><span ng-show="!!zone.humidity">, {{zone.humidity | number:0}}%</span>
  </span>
  <span class="action">{{zone.lastAction}}</span>
  <div class="device" ng-repeat="device in zone.devices">
    <div class="{{device.type}}">
      <ng:switch on="device.type">
        <div ng:switch-when="Dimmer"><ng-include src="'zone-Dimmer.html'"/></div>
        <div ng:switch-when="Doorbell"><ng-include src="'zone-Doorbell.html'"/></div>
        <div ng:switch-when="RoomSensor"><ng-include src="'zone-RoomSensor.html'"/></div>
        <div ng:switch-when="Switch"><ng-include src="'zone-Switch.html'"/></div>
        <div ng:switch-when="ElectricityMeter"><ng-include src="'zone-ElectricityMeter.html'"/></div>
      </ng:switch>
    </div>
  </div>
  <div ng-repeat="zone in zone.subZones">
    <ng-include src="'zone.html'"/>
  </div>
</div>
