body { background-color: #fff; }

.zones { width: 320px; border-bottom: 4px solid #eee; }

.labels { font-weight: bold; }
.labels span { display: inline-block; }
.zone span { display: inline-block; }

.labels > .name { width: 133px; }
.labels > .status { width: 72px; }

.zone { padding-top: 2px; background-color: #eee; border-top: 1px solid #ddd; }

.zone > .name { width: 128px; }
.zone > .status { width: 77px; }

.indent1 { padding-left: 5px; margin-left: 5px; }
.indent2 { padding-left: 10px; margin-left: 10px; }
.indent3 { padding-left: 15px; margin-left: 15px; }

.device { padding-left: 3px; padding-right: 3px; background-color: #fff; border-left: 8px solid #eee; border-right: 8px solid #eee;  }

.device .name { width: 121px; }
.device .status { width: 75px; }

.switch .status { width: 24px; background-color: #000; color: #fff; padding-left: 7px; padding-top: 3px; padding-bottom: 3px; }
.dimmer .status { width: 24px; background-color: #000; color: #fff; padding-left: 7px; padding-top: 3px; padding-bottom: 3px; }

.status.dim { color: #777; }
.status.off { padding-left: 12px; width: 19px; padding-top: 6px; padding-bottom: 6px; }

.time { padding-left: 10px; }