body { background-color: #fff; }

.zones { width: 320px; border-bottom: 4px solid #eee; }

.labels { font-weight: bold; }
.labels span { display: inline-block; }
.zone span { display: inline-block; }

.labels > .name { width: 140px; }
.labels > .status { width: 65px; }

.zone { padding-top: 2px; background-color: #eee; border-top: 1px solid #ddd; }

.zone > .name { width: 140px; }
.zone > .status { width: 65px; }

.indent1 { padding-left: 5px; margin-left: 5px; }
.indent2 { padding-left: 10px; margin-left: 10px; }
.indent3 { padding-left: 15px; margin-left: 15px; }

.device { padding-left: 3px; padding-right: 3px; background-color: #fff; border-left: 8px solid #eee; border-right: 8px solid #eee;  }

.device .name { width: 132px; }
.device .status { width: 70px; }
